ol {
  margin: 0;
  padding: 0
}
table td,
table th {
  padding: 0
}
.c0 {
  color: #f0f0f0; 
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  font-style: normal
}
.c1 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}
.c3 {
  background-color: #222222;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt
}
.c2 {
  font-style: italic
}
.title {
  padding-top: 0pt;
  color: #f0f0f0; 
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
.subtitle {
  padding-top: 0pt;
  color: #aaaaaa; 
  padding-bottom: 16pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
li {
  color: #f0f0f0; 
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 0;
  color: #f0f0f0; 
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
}
h1 {
  padding-top: 20pt;
  color: #f0f0f0; 
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
h2 {
  padding-top: 18pt;
  color: #f0f0f0; 
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
h3 {
  padding-top: 16pt;
  color: #cccccc; 
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
h4 {
  padding-top: 14pt;
  color: #aaaaaa; 
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
h5 {
  padding-top: 12pt;
  color: #aaaaaa; 
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
h6 {
  padding-top: 12pt;
  color: #aaaaaa;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
